{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="../static/main/about/about.css">
{% endblock head %}

{% block content %}
<div id="about-us" class="descriptive-title">About WorldHotels</div>
<div class="descriptive-text">
    <p>WH - World hotels.</p>
    <p>A company that provides hotels all across UK.</p>
    <p>Founded in 2023, we already have a wide variety of hotels in each city.</p>
</div>
<div id="room-pricing" class="descriptive-title">Room pricing criteria</div>
<div class="descriptive-text">
    <p></p>

    <ul style="margin: auto;text-align: left;">
        <li>Standard room (1 guest) - based on booking date and duration</li>
        <li>Double room (2 guests) - extra 10% of standard room</li>
        <li>Family room (4 guests) - extra 50% of standard room</li>
        <li>Separate bookings - prices above
        </li>
    </ul>
    <div>(if 2 standard rooms are booked, will result in 10% fee added to the last standard room)</div>
</div>
<div id="booking-in-advance" class="descriptive-title">Booking in advance</div>
<div class="descriptive-text">
    <p></p>
    <div>A booking can be made up to 3 months in advance</div>
    <div>It provides discount on the total booking price as per the following list:</div>
    <p></p>
    <ul style="margin: auto;text-align: left;">
        <li>Between 80 and 90 days - 30%</li>
        <li>Between 60 and 79 days - 20%</li>
        <li>Between 45 and 59 days - 10%</li>
        <li>Under 45 days - no discount</li>
    </ul>

</div>
<p></p>
<div id="booking-cancellation" class="descriptive-title">Cancellation policy</div>
<div class="descriptive-text">
    <p></p>
    <div class="text-wrapper" style="text-align: left;">
        <p>Booking cancellation before 60 days of booking date does not incur cancellation charges.</p>
        <p>Booking cancellation between 30 and 60 days of booking date will incur charges up to 50% of booking
            price.
        </p>
        <p>Within 30 days of booking date 100% of booking price will be charged.</p>
    </div>
</div>
<div id="terms-and-conditions" class="descriptive-title">Terms and conditions</div>
<div class="text-wrapper">
    <ul>
        <p>Acceptance of terms: </p>
        <li>By accessing or using the World Hotels website, you agree to be bound by these Terms and Conditions. If you
            do not agree with any part of these terms, you may not use our services.
        </li>
        <p>Booking process:</p>
        <li>When making a booking through World Hotels, you agree to provide accurate and complete information. You also
            agree to abide by the policies and rules of the selected WH-hotel.
        </li>
        <p>Account creation:</p>
        <li>To access certain features of World Hotels, you may need to create an account. You are responsible for
            maintaining the confidentiality of your account information and for all activities that occur under your
            account.
        </li>
        <p>Booking Management: </p>
        <li>World Hotels allows users to manage their bookings through their account. Changes or cancellations may be
            subject to fees or restrictions imposed by the hotel.
        </li>

    </ul>
</div>
<div class="descriptive-title">Cookie policy</div>
<div class="text-wrapper">
    <p></p>
    <div>
        WH website uses cookies to:
        <ul style="display: block">
            <li>Enable secure login and access to your account.</li>
            <li>Enhance website performance and usability.</li>
        </ul>
        By using our website, you consent to the use of cookies as outlined in this policy.
        You can manage cookies in your browser settings.
        <p></p>
        For any questions, contact us at
        <a href="mailto:wh.hotels.uk@gmail.com">wh.hotels.uk@gmail.com.</a>
    </div>
</div>
<div class="descriptive-text">

</div>
{% endblock content %}
