{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="../static/main/forms.css">
<link rel="stylesheet" href="../static/main/login/login.css">
{% endblock head %}

{% block content %}

<div class="descriptive-title">Sign in</div>

<form action="#" method="post" onsubmit="return validateForm();" class="registration-form">
    <div>
        <div id="username-input-wrapper">
            <label for="username">Username</label>
            <input id="username" name="username" placeholder="e.g. JimCougar27" type="text" minlength="5"
                   maxlength="15" required>
        </div>
        <div>
            <label for="password">Password</label>
            <div id="username-password-wrapper">
                <input id="password" placeholder="" name="password" type="password" minlength="8"
                       maxlength="15" required>
                <button class="password-show-button" type="button">show</button>
            </div>
        </div>
        <select id="user-type" name="user-type">
            <option value="client">I am user.</option>
            <option value="admin">I am administrator.</option>
        </select>
        <a href="/reset-password" style="display: block">Forgot password?</a>

        <button type="submit" class="submit-button">Continue</button>

    </div>

</form>

<script src="../static/main/fieldValidator.js"></script>
<script src="../static/main/login/login.js"></script>
{% endblock content %}
