{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="../static/main/forms.css">
{% endblock head %}

{% block content %}

<div class="descriptive-title">Recover password</div>

<form action="#" method="post" onsubmit="return validateForm();" class="registration-form">
    <div>
        <div>
            {% if validation%}
            <div>
            <label for="password">Password</label>
            <div id="username-password-wrapper">
                <input id="password" placeholder="" name="password" type="password" minlength="8"
                       maxlength="15" required>
                <button class="password-show-button" type="button">show</button>
            </div>
            <div id="password-hint">
                <span id="password-hint-1">1 number </span>
                <span id="password-hint-2">1 uppercase </span>
                <span id="password-hint-3">1 lowercase</span>
            </div>
        </div>
            {% else %}
            <label for="email">Email address</label>
            <input id="email" name="email" type="text" placeholder="e.g. jcougar@hotmail.com" required>
            {% endif %}

        </div>
        <button type="submit" class="submit-button">Continue</button>
    </div>

</form>

<script src="../static/main/fieldValidator.js"></script>
<script src="../static/main/reset-password/reset-password.js"></script>
{% endblock content %}